<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="{{ settings.accent_color }}">
  
  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  {{ content_for_header }}
</head>

<body class="template-{{ template | split: '.' | first }}">
  {% section 'announcement-bar' %}
  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>
</html>
